# Ignore node_modules - don't copy host dependencies
./airbus_ui/node_modules



.git

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.airbus_ui/.pnp
.pnp.js

# Build output
build
dist

# OS / IDE files
.DS_Store
.env
.env.local
.env.*.local

# Editor settings
.vscode
.idea

# Test output
coverage

# Misc
*.swp
